# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code (optional)
.vscode/*
!.vscode/settings.json

# ---------------------------
# Data & artifacts (keep folders, ignore contents)
# ---------------------------

# data/
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/README.md

# training outputs
checkpoints/*
!checkpoints/.gitkeep
logs/*
!logs/.gitkeep

# large model files (just in case)
*.h5
*.keras
*.pth
*.pt
